* {
  margin: 0em;
  padding: 0em;
  color: rgba(191, 191, 191, 0.65);
  font-family: 'Roboto Condensed', sans-serif;
}

button {
  border: 0.3vh solid #3498db;
  background-color: rgba(0, 0, 0, 0);
  width: 6vw;
  height: 4vh;
  border-radius: 1vh;
  font-size: 1.5vh;
  color: rgba(191, 191, 191, 0.65);
  text-align: center;
  cursor: pointer;
  transition: all ease .2s;
  margin-right: 1vw;
}

.s-button {
  float: right;
  vertical-align: bottom;
  margin-top: 13vh;
}

button:hover {
  color: rgba(191, 191, 191, 1);
}

button:focus {
  border: 0.3vh solid #3498db;
  outline: none;

}

.side-img {
  display: block;
  height: auto;
  width: 2.5vw;
  filter: invert(70%);
  margin: auto;
  transition: all ease .2s;
}

.active {
  filter: invert(100%);
}

.s-element {
  width: 100%;
  height: 9vh;
  padding-top: 2vh;
}

.logo-img {
  align-self: center;
  width: auto;
  height: 2vh;
  filter: brightness(0) invert(1);
  opacity: .7;
  margin-left: .2vw;
}

#item {
  width: 9vw;
  height: 100%;
  background: rgb(13,218,109);
  background: linear-gradient(90deg, rgba(13,218,109,0.47942927170868344) 0%, rgba(0,212,255,0.36458333333333337) 100%);
  cursor: w-resize;
  grid-area: 1 / 1;
  text-align: center;
  color: black;
  resize: horizontal;
  overflow: auto;
}

.handle {
  margin: auto;
  width: 100%;
  height: 90%;
  cursor: pointer;
}