/*HEADER*/
.header-grid {
    display: grid;
}
  
.header-item {
    height: 5vh;
    background-color:#222426;
}
  
.h1 {
    grid-column: 1;
    display: grid;
    align-items: center;
}
  
.h2 {
    grid-column: 2;
}
  
.h3 {
    grid-column: 3;
    display: grid;
    align-items: center;
}
  
  /*MAIN*/
.main-grid {
    height: 91vh;
    display: grid;
    background-color: #1b1e21;
}
  
.m1 {
    grid-column: 2;
    grid-row: 1;
    display: grid;
    width: 93.5vw;
}

.m1-1 {
    height: 45.6vh;
    grid-row: 1;
    border-bottom: 0.4vh solid#313336;
}

.m1-2 {
    height: 45vh;
    grid-row: 2;
}

.m2 {
    width: 6.5vw;
    height: 100%;
    grid-column: 1;
    grid-row: 1;
    background-color: #222426;
}
  
  /*FOOTER*/
.footer-grid {
    display: grid;
}
  
.footer-item {
    height: 4vh;
    background-color: #222426;
}
  
.f1 {
    grid-column: 1;
}
  
.f2 {
    grid-column: 2;
    text-align: center;
    display: grid;
    align-items: center;
    font-size: 1.3vh;
}
  
.f3 {
    grid-column: 3;
}
  
  /*INNER MAIN*/
.bottom-box {
    display: flex;
}
  
.bottom-item {
    height: 45.3vh;
}
  
.b1 {
    width: 20%;
    grid-column: 1;
    border-right: 0.4vh solid #313336;
}
  
.b2 {
    width: 80%;
    grid-column: 2;
}
  
  /*SETTINGS*/
.settings-grid {
    display: grid;
    height: 91vh;
    background-color: #1b1e21;
}

.settings-item {
      height: 100%;
}

.s1 {
    height: 34.56vh;
    grid-row: 1;
    grid-column: 1;
}

.s2 {
    height: 34.56vh;
    grid-row: 1;
    grid-column: 2;
}

.s3 {
    height: 34.56vh;
    grid-row: 2;
    grid-column: 1;
}

.s4 {
    height: 34.56vh;
    grid-row: 2;
    grid-column: 2;
}

.s5 {
    height: 17.28vh;
    grid-row: 3;
    grid-column: 1;
}

.s6 {
    height: 17.28vh;
    grid-row: 3;
    grid-column: 2;
}

  /*LIVE-VIEW*/
.live-grid {
    display: grid;
}

.l1 {
    height: 38vh;
    width: 92vw;
}

.l2 {
    height: 7.4vh;
    width: 100%;
    grid-row: 2;
    display: grid;
    align-content: center;
}

.slider, .line {
    width: 100%;
    height: 7vh;
    grid-area: 1 / 1;
    overflow: hidden;
}

.side {
    display: grid;
    height: 40vh;
}

.s-item {
    width: 100%;
    height: 10vh;
}

.side-text {
    text-align: center;
    margin-top: 1vh;
    font-size: .8vw;
}

.side1 {
    grid-row: 1;
}

.side2 {
    grid-row: 2;
}

.side3 {
    grid-row: 3;
}